*{
    margin: 0px;
    padding: 0px;
}

button{
    width: 50px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    margin: 3px;
    background-color: rgb(255, 215, 215);
    border-radius: 5px;
}